<div>
  <span id="about-title" class="palm-dialog-title">About</span>
  <div class="palm-group unlabeled">
    <div class="palm-list">
    	<div class="palm-row first" style="text-align: center;">
    		<span><img src="images/connect_icon.png" alt="about_image" /></span>
    	</div>
      <div class='palm-row last' style="text-align: center;">
        FNClientME v0.3<br>
        Copyright &copy; 2013 Tobias Burkard
      </div>
    </div>
  </div>
  <div x-mojo-element="Button" id="okAboutButton"></div>
</div>