<div>
  <span id="settingsDialog-title" class="palm-dialog-title">Settings</span>
  <div class="palm-body-text">
      		Please specify the server URL <br />(e.g. www.myserver.de).<br />
  </div>
    <div class="palm-list">
      <div class='palm-row first'>
        <div class="palm-row-wrapper textfield-group" x-mojo-focus-highlight="true">
          <div class="title">
            <div class="label">URL</div>
            <div id="ipAddr-id" x-mojo-element="TextField" align="left"></div>
          </div>
          <div class="title">
            <div class="label">Username</div>
            <div id="username-id" x-mojo-element="TextField" align="left"></div>
          </div>
          <div class="title">
            <div class="label">Password</div>
            <div id="password-id" x-mojo-element="TextField" align="left"></div>
          </div>
        </div>
      </div>
      <div x-mojo-element="Button" id="okSettingsButton"></div>
    </div>
</div>